{% extends 'base.html.twig' %}

{% block title %}Hello WodController!{% endblock %}

{% block body %}
    <div class="row">
        {% for wod in wods %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card border-primary mb-3 mx-auto card-wod" style="maw-width:20rem">
                    <div class="card-header text-center">
                        <img src="{{ wod.image }}" class="card-img-top" alt="">
                    </div>
                    <div class="card-body card-wod-text">
                        <h3 class="card-title text-center pb-2 mx-3">{{ wod.name }}</h3>
                        <p class="card-title text-center pb-2 mx-3">{{ wod.description }}</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary align-center training-btn" href="">S'entrainer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
